<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hnkjs.mapper.DepartmentMapper">
	
	<select id="getEntity" parameterType="int" resultType="hnkjs.entities.Department">
		SELECT
		`id`,
		`department_key`,
		`department_value`,
		`parent_departmentkey_id`,
		`description`,
		`create_time`
		FROM
		`hnkjs`.`sys_department`
		LIMIT 0, 1000 ;
	</select>

	<insert id="save" parameterType="hnkjs.entities.Department">
		INSERT INTO
		`hnkjs`.`sys_department`
		(
		`department_key`,
		`department_value`,
		`parent_departmentkey_id`,
		`description`,
		`create_time`
		)
		VALUES
		(
		#{department_key},
		#{department_value},
		#{parent_departmentkey_id},
		#{description},
		#{create_time}
		);



	</insert>

</mapper>