<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hnkjs.mapper.DepartmentMapper">
    
    <select id="getCount" resultType="int">
      select count(*)  from  `hnkjs`.`sys_department`;
    
    </select>
    
	<select id="getDepartmentes" resultType="hnkjs.entities.Department">
		SELECT
		`id`,
		`department_key`,
		`department_value`,
		`parent_departmentkey_id`,
		`description`,
		`create_time`
		FROM
		`hnkjs`.`sys_department` order by id
		desc
		LIMIT 0, 1000;
	</select>

	<select id="getDepartmentById" parameterType="int" resultType="hnkjs.entities.Department">
		SELECT
		`id`,
		`department_key`,
		`department_value`,
		`parent_departmentkey_id`,
		`description`,
		`create_time`
		FROM
		`hnkjs`.`sys_department`
		where id=#{id}
		order by id
		desc
		LIMIT 0, 1000;
	</select>
    <!--分页获取部门数据  -->
    <select id="getDepartmentesByPage" resultType="hnkjs.entities.Department">
       SELECT
		`id`,
		`department_key`,
		`department_value`,
		`parent_departmentkey_id`,
		`description`,
		`create_time`
		FROM
		`hnkjs`.`sys_department`
		where id=#{id}
		order by id
		desc
		LIMIT #{offset}, #{pageSize};
    </select>



	<delete id="deleteDepartmentById" parameterType="int">
		DELETE
		FROM
		`hnkjs`.`sys_department`
		WHERE `id` = #{id};
	</delete>



	<insert id="addDepartment" parameterType="hnkjs.entities.Department">
		INSERT INTO
		`hnkjs`.`sys_department`
		(
		`department_key`,
		`department_value`,
		`parent_departmentkey_id`,
		`description`,
		`create_time`
		)
		VALUES
		(
		#{department_key},
		#{department_value},
		#{parent_departmentkey_id},
		#{description},
		#{create_time}
		);



	</insert>

</mapper>